{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/css/styles.css' %}">
    <title>{{ title }}</title>
</head>
<body>
{% block mainmenu %}
    <nav>
    <a href="{% url 'main:home' %}">Главная</a>
    |
    <a href="{% url 'catalog:catalog' %}">Каталог</a>
    |
    <a href="{% url 'cart:cart' %}">Корзина</a>
    |
    <a href="{% url 'blog:posts' %}">Статьи</a>
    |
    <a href="{% url 'main:about' %}">О нас</a>
    </nav>

    {% if user.is_authenticated %}
    <nav>
        <a href="{% url 'users:profile' %}">{{ user.username }}</a>
        |
        <a href="{% url 'users:logout' %}"
           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a>
        <form id="logout-form" method="POST" style="display: none;" action="{% url 'users:logout' %}">
            {% csrf_token %}
        </form>
    </nav>
    {% else %}
    <nav>
        <a href="{% url 'users:login' %}">Войти</a>
        |
        <a href="{% url 'users:register' %}">Регистрация</a>
    </nav>
    {% endif %}

    <hr>
{% endblock %}

{% block seacrh %}
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
{% endblock %}

{% block paginator %}
{% endblock %}
</body>
</html>