{% extends 'catalog/catalog.html' %}

{% block content %}
{% if content.get_type == 'Author' %}
    <h1>{{ content }}</h1>

    {% if content.photo %}
    <img src="{{ content.photo.url }}">
    {% endif %}

    <h2>Биография</h2>
    {{ content.biography }}

    <h2>Книги</h2>
    {% if books %}
        {% for book in books %}
            <p><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></p>
            {% if book.image %}
                <a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" alt="{{ book.title }}"></a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Книги не указаны</p>
    {% endif %}


{% else %}
    <h1>{{ content.name }}</h1>

    {% if content.icon %}
        <img src="{{ content.icon.url }}">
    {% endif %}

    <h2>Описание</h2>
    {{ content.description }}

    <h2>Книги</h2>
    {% if books %}
        {% for book in books %}
            <p><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></p>
            {% if book.image %}
                <a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" alt="{{ book.title }}"></a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Книги не указаны</p>
    {% endif %}
{% endif %}
{% endblock %}