{% extends 'main/base.html' %}


{% block seacrh %}
<form action="{% url 'catalog:search' %}" method="get">
    <input type="text" name="q" placeholder="Поиск...">
    <button type="submit">Поиск</button>
</form>
<hr>
{% endblock %}

{% block content %}
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Фильтровать</button>
    <a href="{% url 'catalog:catalog' %}">Очистить</a>
    <hr>
</form>

<ul>
    {% for book in books %}
        <p><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></p>
        <img src="{{ book.image.url }}" alt="{{ book.name }}">
    {% empty %}
        <p>Книги не найдены.</p>
    {% endfor %}
</ul>
{% endblock %}

{% block paginator %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">следующая &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}