{% extends 'main/base.html' %}


{% block seacrh %}
<form action="{% url 'catalog:search' %}" method="get">
    <input type="text" name="q" placeholder="Поиск...">
    <button type="submit">Поиск</button>
</form>
<hr>
{% endblock %}


{% block content %}
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Фильтровать</button>
    <a href="{% url 'catalog:catalog' %}">Очистить</a>
    <hr>
</form>

<ul>
    {% for book in books %}
        <p><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></p>
        <img src="{{ book.image.url }}" alt="{{ book.name }}">
    {% empty %}
        <p>Книги не найдены.</p>
    {% endfor %}
</ul>
{% endblock %}


{% block paginator %}
{% if page_obj.has_other_pages %}
<nav><ul>
    {% if page_obj.has_previous %}
        <li>
            <li>
            <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
    {% endif %}

    {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
           <li class="page-num"><a href="?{{ request.GET.urlencode }}&page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li><a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">&gt;</a></li>
    {% endif %}
</ul></nav>
{% endif %}
{% endblock %}